/*------------------------------------------------------------------
[Skill Card Stylesheet]

Project:	USA Rugby
Version:	2.0

1. Globals
2. Card Header
3. Card Body
4. Card Footer

--------------------------------------------------------------------*/
/* 1. Globals
---------------------------------------------------------*/
#feed li {
  list-style: none;
}
