/*------------------------------------------------------------------
[Header Stylesheet]

Project:	USA Rugby
Version:	2.0

1. Header
2. Toolbar
3. Register
4. Branding
5. Navigation

-------------------------------------------------------------------*/


/* 1. Header ------------------------------------------------------*/

header {
	background: #FFF;
	border-radius: 6px;
	background: linear-gradient(to bottom, #FFF, #F9F9F9);
	.header-container {
		margin: 0 auto;
		position: relative;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
	}
}


/* 3. Register -----------------------------------------------------*/

#register {
	height: 35px;
	position: relative;
	a {
		position: absolute;
		right: 30px;
		top: 20px;
		background: @red;
		color: #FFF;
		padding: 10px 20px;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 1px;
		-webkit-font-smoothing:antialiased;
	}
}

/* 4. Branding --------------------------------------------------*/

#branding {
	float: left;
	z-index: 4;
	width: 260px;
	height: 70px;
	margin-left: -60px;
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #EEE;
	img {
		margin-top: 16px;
	}
}

/* 5. Navigation ------------------------------------------------*/

#main-navigation {
    z-index: 1;
    transition: all .3s ease;
    position: relative;
    height: 70px;
    z-index: 3;
	ul {
		margin: 0;
		float: left;
		// border-right: 1px solid #FFF;
		// border-left: 1px solid #DFDFDF;
		li {
			margin: 0;
			-webkit-transition: all 0.2s ease-out;
			&:last-child {
				background: transparent;
			}
		}
	}
	a {
		color: #536270;
		font-size: 18px;
		line-height: 70px;
		text-transform: lowercase;
		-webkit-font-smoothing:antialiased;
		// border-left: 1px solid #FFF;
		// border-right: 1px solid #DFDFDF;
		padding: 0 20px;
		font-family: @secondary-font;
	}
	.current-menu-item {
		position: relative; 
		&:before {
			width: 0; 
			height: 0; 
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #3f74a9;
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -8px;
			z-index: 1;
		}
	}
}
