/*------------------------------------------------------------------
[Skill Card Stylesheet]

Project:	USA Rugby
Version:	2.0

1. Globals
2. Card Header
3. Card Body
4. Card Footer

--------------------------------------------------------------------*/

/* 1. Globals
---------------------------------------------------------*/
@darkblue: #012141;
@blue-border: 1px solid @darkblue;

#skill-card {
		border: @blue-border;
			.card-header {
				padding: 15px; 
				border-bottom: 0!important;
				background-color: #fff!important;

				h3, div, p {
					border: @blue-border;
				}
				.ratings {
					border: 0;
				}
				.pull-right {
					display: none;
				}

				h3 {
					border-bottom-width: 0;

					img {
						border: @blue-border;
						border-bottom: 0;
					}

					span {
						position: absolute;
						left: 505px;
						top: 145px;
						z-index: 1;
						font-size: 20pt;
					}
				}
			}

		/* 3. Card Body -----------------------------------------------*/

			.card-body {
				background-color: #fff!important;
				border-top: 0!important;
				padding-top: 0;
				margin-top: -15px;

				.meta {
					border: @blue-border;
					border-width: 2px;
					border-top: 0;
					border-bottom-width: 0;

					.h-divider {
						margin-left: 93px!important;
					}
				}
				.group-items {
					span {
						padding-left: 20px;
					}
					.meta-item {
						display: inline;
						margin: 0 10px 10px 0;
						font-size: 14px;
					}
					.meta-description {
						border-top: @blue-border;
						padding-top: 10px;
						padding-left: 10px;
						margin-bottom: 20px;
					}
					.h-divider {
						font-size: 20pt;
						position: relative;
						top: 5px;
						margin-left: 44px;
					}
				}
				
				.group-items:nth-child(2) {
					p:first-child {
						margin-top: 0;
						margin-bottom: 20px;
					}
				} 

				.meta-item {
					display: block;
					margin: 0 10px 10px 0;
					font-size: 14px;

					.meta-label {
						text-transform: uppercase;
						font-weight: bold;
						font-size: 12pt;
					}
				}

				.main-content {
					border-top-width: 0!important;
					border-bottom-width: 0!important;
					margin: -1.3em auto -0.1em!important;
					padding-top: 25px;

					.large-8.columns {
						padding-left: 0;
					}
				}

				h3 {
					color: @darkblue;
					font-weight: normal;
					text-transform: uppercase;
				}

				.row {
					border: @blue-border;
					border-top: 0;
					border-left-width: 2px;
					border-right-width: 2px;
					margin: -0.05em auto;
					display: inline-block;
					position: relative;

					li {
						margin: 15px 0;
					}

					.image {
						border: 2px dashed @darkblue;
						position: absolute;
						right: .75%;
						top: 5%;
					}
				}

				.sub-content {
					h2 {
						text-align: center;
						text-transform: uppercase;
						font-size: 25pt;
						margin-top: 0;
						margin-bottom: -10px;
					}

					.large-6 {
						h3 {
							text-align: center;
							text-transform: uppercase;
							background-color: @darkblue;
							color: #fff;
							padding-top: 5px !important;
							padding-bottom: 5px !important;
							margin-left: -15px;
							margin-right: -15px;
						}
					}
					h2 + .large-6 {
						ol {
							border-right: @blue-border;
							margin-top: -23px;
							margin-right: -10px;
							margin-bottom: -10px;
							padding-top: 15px;
							padding-right: 10px;
							padding-bottom: 10px;

						}
					}
					.large-6 + .large-6 {
						ol {
							border-left: @blue-border;
							margin-left: -20px;
							margin-top: -20px;
							margin-bottom: 0; 
							padding-top: 20px;
							padding-bottom: 35px;
						}
					}
				}
			}

		/* 4. Card Footer ---------------------------------------------*/

			.card-footer {
				width: 100%;
				border-bottom-width: 2px!important;
			}
}
