/*------------------------------------------------------------------
[Skill Card Stylesheet]

Project:	USA Rugby
Version:	2.0

1. Globals
2. Card Header
3. Card Body
4. Card Footer

--------------------------------------------------------------------*/

/* 1. Globals
---------------------------------------------------------*/


#skill-card {
	z-index: 1;
	position: relative;
	background: #FFF;
	font-size: 16px;
	line-height: 1.6;
	padding: 0;
	padding-bottom: 30px;
	border-right: 1px solid #EEE;
	.header {
		margin-top: 15px;
		padding-bottom: px;
		h2 {
			font-size: 36px;
		}
		#share {
			margin-top: 45px;
			position: relative;
			line-height: 22px;
		}
	}
	#content {
		p {
			padding: 0;
			margin: 20px 0;
		}
	}
	h3 {
		font-size: 18px;
		line-height: 24px;
		font-weight: bold;
		margin: 0;
		padding: 5px;
		font-family: @third-font;
		color: @blue;
		border-bottom: 1px solid #E1E1E1;
	}
	.content {
		padding-bottom: 20px;
		.image {
			float: right;
           	margin: 0 40px;
        }
	}
	.footer {
		padding-bottom: 20px;
	}

}
